<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Project name</label>
          <input
            class="form-control"
            type="text"
            id="name"
            formControlName="name"
          />
          <span
            *ngIf="!projectForm.valid && projectForm.touched"
            class="help-block"
          >
            <span *ngIf="projectForm.get('name').errors?.required"
              >Project name is required!</span
            >
            <span *ngIf="projectForm.get('name').errors?.invalidProjectName"
              >Cannot use 'Test' as a project name!</span
            >
          </span>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            class="form-control"
            type="email"
            id="email"
            formControlName="email"
          />
          <span
            *ngIf="!projectForm.valid && projectForm.touched"
            class="help-block"
          >
            <span *ngIf="projectForm.get('email').errors?.required"
              >E-mail is required!</span
            >
            <span *ngIf="projectForm.get('email').errors?.email"
              >Enter a valid email!</span
            >
          </span>
        </div>
        <div class="form-group">
          <label for="status">Project Status</label>
          <select class="form-control" id="status" formControlName="status">
            <option *ngFor="let status of statuses" value="status">
              {{ status }}
            </option>
          </select>
        </div>
        <button
          [disabled]="!projectForm.valid"
          class="btn btn-primary"
          type="submit"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
