#container {
    width: 1366px;
    margin: 0 auto;
}

#logo {
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 15px
}

.tooltip {
    position: absolute;
    color: aliceblue;
    background-color: darkgoldenrod;
}